*.xwam
*.fls
*.fls2
*.flt
*.flm
*.fld
*.fdb
*~
#*#
*#*.*#

*.P-sv
*.flh-sv
*.fli-sv
*.flr-sv

.flora_aux_files
lock.test

temp
log
/flora2/.prolog_path
/flora2/AT/*.P
/flora2/closure/*.flh
/flora2/debugger/*.dat
/flora2/demos/*.P
/flora2/docs/*.aux
/flora2/docs/*.bbl
/flora2/docs/*.blg
/flora2/docs/*.dvi
/flora2/docs/*.idx
/flora2/docs/*.ilg
/flora2/docs/*.ind
/flora2/docs/*.log
/flora2/docs/*.out
/flora2/docs/*.pdf
/flora2/docs/*.toc
/flora2/flrincludes/.flora_default_tabling
/flora2/genincludes/*.flh
/flora2/lib/*.P
/flora2/pkgs/*.P
/flora2/runflora
/flora2/platforms/*
/flora2/java/flora_settings.sh
flora2-testsuite/summary.txt
flora2-testsuite/general_tests/temp
flora2-testsuite/general_tests/temp2
flora2-testsuite/general_tests/*_new
flora2-testsuite/functions/*_new
flora2-testsuite/symbols/*_new
flora2-testsuite/apptests/*_new
flora2-testsuite/defeasible/*/*_new
flora2-testsuite/general_tests/*.P
flora2-testsuite/apptests/*.P
flora2-testsuite/apptests/gpmanager/*.P
flora2-testsuite/apptests/programs/*.P
flora2-testsuite/defeasible/atck1/*.P
flora2-testsuite/defeasible/atck1alt/*.P
flora2-testsuite/defeasible/atck2/*.P
flora2-testsuite/defeasible/atck2alt/*.P
flora2-testsuite/defeasible/atco/*.P
flora2-testsuite/defeasible/atco2/*.P
flora2-testsuite/defeasible/atco3/*.P
flora2-testsuite/defeasible/new_gclp/*.P
flora2-testsuite/defeasible/old_gclp/*.P
flora2-testsuite/delaystests/*.P
flora2-testsuite/functions/*.P
flora2-testsuite/functions/*/*.P
flora2-testsuite/symbols/*.P
flora2-testsuite/symbols/*/*.P
